<div style="display:flex;justify-content: right;">
    <button 
        class="btn btn-success"
        routerLink="form"
    >
        <span class="bi bi-check"></span>
        Salvar
    </button>
</div>

<!-- Vertical Form -->
<!-- <form class="row g-3"> -->
  <div class="col-12">
    <label for="descricao" class="form-label">Your Name</label>
    <input type="text" class="form-control" [(ngModel)]="descricao">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary" (click)="salvar()">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
  </div>
<!-- </form>Vertical Form -->