<div style="display:flex;justify-content: right;">
    <button 
        class="btn btn-success"
        (click)="salvar()"
    >
        <span class="bi bi-check"></span>
        Salvar
    </button>
</div>
<!-- Vertical Form -->
<form class="row g-3">
  <div class="col-12">
    <label for="descricao" class="form-label">Descrição</label>
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="descricao" 
      name="descricao"
      id="descricao"
    >
  </div>
</form><!-- Vertical Form -->