<div style="display:flex;justify-content: right;">
    <button 
        class="btn btn-success"
        (click)="salvar()"
    >
        <span class="bi bi-check"></span>
        Salvar
    </button>
</div>

<!-- Vertical Form -->
<form class="row g-3">
  <div class="col-12">
    <label for="nome" class="form-label">Nome</label>
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="nome" 
      name="nome"
      id="nome"
    >
  </div>
  <div class="col-12">
    <label for="nome" class="form-label">E-Mail</label>
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="email" 
      name="email"
      id="email"
    >
  </div>  
  <div class="col-12">
    <label for="login" class="form-label">Login</label>
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="login" 
      name="login"
      id="login"
    >
  </div> 
  <div class="col-12">
    <label for="senha" class="form-label">Senha</label>
    <input 
      type="password" 
      class="form-control" 
      [(ngModel)]="senha" 
      name="senha"
      id="senha"
    >
  </div>      
</form><!-- Vertical Form -->
