<div style="display:flex;justify-content: right;">
    <button 
      class="btn btn-success"   
    >
      <span class="bi bi-check"></span>
      Salvar
    </button>
</div>

<!-- Vertical Form -->
<form class="row g-3">
  <div class="col-12">

    <label for="descricao" class="form-label">Categoria</label>
    <select class="form-control">
        <option 
          *ngFor="let categoria of categorias"
          [value]="categoria.indice"
          [innerHTML]="categoria.descricao"
        ></option>
    </select>
    <br/>
    <label for="descricao" class="form-label">Descrição</label>
    <input 
      type="text" 
      class="form-control"        
      name="descricao"
      id="descricao"
    >
  </div>
</form><!-- Vertical Form -->