/* You can add global styles to this file, and also import other style files */
// regular style toast

.has-error
{
    border:1px solid #FF0000 !important;
}

select
{
    -webkit-appearance:auto !important;
    appearance:auto !important;
}
.asterisco
{
    color:#FF0000;
}